# Logs e IDEs
.idea/
.vscode/
*.iml
*.log

# Entornos Virtuales de Python (para cuando hagamos el dressme-ai)
venv/
__pycache__/

# Node modules (para el frontend)
node_modules/
dist/

# Java compilados
target/
build/
out/
*.class

.env
.env.*

# Docker
*.pid
*.seed
postgres-data/

# Reglas de agentes de IA
.cursorrules
.clinerules
.agents/
../.cursorrules
../.clinerules
../.agents/

